<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.coco.admin.web.mapper.takedata.MailTaskMapper" >
  <resultMap id="BaseResultMap" type="cn.coco.admin.web.model.takedata.MailTask" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="TO_ADDRESS" property="toAddress" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="LAST_EXECUTE_TIME" property="lastExecuteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="BaseResultMap1" type="cn.coco.admin.web.model.takedata.MailTask" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="TO_ADDRESS" property="toAddress" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="LAST_EXECUTE_TIME" property="lastExecuteTime" jdbcType="TIMESTAMP" />
    <collection property="sheets" ofType="cn.coco.admin.web.model.takedata.MailTaskSheet" javaType="ArrayList" column="id" select="querySheets"></collection>
  </resultMap>
  <resultMap id="SheetsBaseResultMap" type="cn.coco.admin.web.model.takedata.MailTaskSheet" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SHEET" property="sheet" jdbcType="VARCHAR" />
    <result column="QUERYSQL" property="querysql" jdbcType="VARCHAR" />
    <result column="MAIL_TASK_ID" property="mailTaskId" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="querySheets" resultMap="SheetsBaseResultMap">
  	select * from T_ADMIN_MAIL_TASK_SHEET where MAIL_TASK_ID = #{id} ORDER BY SHEET_NO ASC
  </select>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PROJECT_NAME, USER_ID, TO_ADDRESS, STATUS, START_TIME, END_TIME, CREATE_TIME, 
    LAST_EXECUTE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap1" parameterType="cn.coco.admin.web.model.takedata.MailTaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_ADMIN_MAIL_TASK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap1" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_ADMIN_MAIL_TASK
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_ADMIN_MAIL_TASK
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.coco.admin.web.model.takedata.MailTaskExample" >
    delete from T_ADMIN_MAIL_TASK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.coco.admin.web.model.takedata.MailTask" >
    insert into T_ADMIN_MAIL_TASK (ID, PROJECT_NAME, USER_ID, 
      TO_ADDRESS, STATUS, START_TIME, 
      END_TIME, CREATE_TIME, LAST_EXECUTE_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{toAddress,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{lastExecuteTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.coco.admin.web.model.takedata.MailTask" >
    insert into T_ADMIN_MAIL_TASK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="projectName != null" >
        PROJECT_NAME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="toAddress != null" >
        TO_ADDRESS,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="startTime != null" >
        START_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="lastExecuteTime != null" >
        LAST_EXECUTE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="toAddress != null" >
        #{toAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastExecuteTime != null" >
        #{lastExecuteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.coco.admin.web.model.takedata.MailTaskExample" resultType="java.lang.Integer" >
    select count(*) from T_ADMIN_MAIL_TASK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_ADMIN_MAIL_TASK
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.projectName != null" >
        PROJECT_NAME = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.toAddress != null" >
        TO_ADDRESS = #{record.toAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.startTime != null" >
        START_TIME = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastExecuteTime != null" >
        LAST_EXECUTE_TIME = #{record.lastExecuteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_ADMIN_MAIL_TASK
    set ID = #{record.id,jdbcType=VARCHAR},
      PROJECT_NAME = #{record.projectName,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      TO_ADDRESS = #{record.toAddress,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      START_TIME = #{record.startTime,jdbcType=TIMESTAMP},
      END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      LAST_EXECUTE_TIME = #{record.lastExecuteTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.coco.admin.web.model.takedata.MailTask" >
    update T_ADMIN_MAIL_TASK
    <set >
      <if test="projectName != null" >
        PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="toAddress != null" >
        TO_ADDRESS = #{toAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null" >
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastExecuteTime != null" >
        LAST_EXECUTE_TIME = #{lastExecuteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.coco.admin.web.model.takedata.MailTask" >
    update T_ADMIN_MAIL_TASK
    set PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      TO_ADDRESS = #{toAddress,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      LAST_EXECUTE_TIME = #{lastExecuteTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>