<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.coco.admin.web.mapper.system.PermissionInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.coco.admin.web.model.system.PermissionInfo" >
    <id column="FUNCTION_ID" property="functionId" jdbcType="VARCHAR" />
    <result column="FUNCTION_NAME" property="functionName" jdbcType="VARCHAR" />
    <result column="FUNCTION_CODE" property="functionCode" jdbcType="VARCHAR" />
    <result column="MENU_URL" property="menuUrl" jdbcType="VARCHAR" />
    <result column="ORDER_NO" property="orderNo" jdbcType="DECIMAL" />
    <result column="MENU_LEVEL" property="menuLevel" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FUNCTION_ID, FUNCTION_NAME, FUNCTION_CODE, MENU_URL, ORDER_NO, MENU_LEVEL, CREATE_TIME, 
    CREATE_BY, UPDATE_TIME, UPDATE_BY, REMARK, PARENT_ID, STATUS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.coco.admin.web.model.system.PermissionInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_ADMIN_PERMISSION_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_ADMIN_PERMISSION_INFO
    where FUNCTION_ID = #{functionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_ADMIN_PERMISSION_INFO
    where FUNCTION_ID = #{functionId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.coco.admin.web.model.system.PermissionInfoExample" >
    delete from T_ADMIN_PERMISSION_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.coco.admin.web.model.system.PermissionInfo" >
    insert into T_ADMIN_PERMISSION_INFO (FUNCTION_ID, FUNCTION_NAME, FUNCTION_CODE, 
      MENU_URL, ORDER_NO, MENU_LEVEL, 
      CREATE_TIME, CREATE_BY, UPDATE_TIME, 
      UPDATE_BY, REMARK, PARENT_ID, 
      STATUS)
    values (#{functionId,jdbcType=VARCHAR}, #{functionName,jdbcType=VARCHAR}, #{functionCode,jdbcType=VARCHAR}, 
      #{menuUrl,jdbcType=VARCHAR}, #{orderNo,jdbcType=DECIMAL}, #{menuLevel,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.coco.admin.web.model.system.PermissionInfo" >
    insert into T_ADMIN_PERMISSION_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="functionId != null" >
        FUNCTION_ID,
      </if>
      <if test="functionName != null" >
        FUNCTION_NAME,
      </if>
      <if test="functionCode != null" >
        FUNCTION_CODE,
      </if>
      <if test="menuUrl != null" >
        MENU_URL,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="menuLevel != null" >
        MENU_LEVEL,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="functionId != null" >
        #{functionId,jdbcType=VARCHAR},
      </if>
      <if test="functionName != null" >
        #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="functionCode != null" >
        #{functionCode,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=DECIMAL},
      </if>
      <if test="menuLevel != null" >
        #{menuLevel,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.coco.admin.web.model.system.PermissionInfoExample" resultType="java.lang.Integer" >
    select count(*) from T_ADMIN_PERMISSION_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_ADMIN_PERMISSION_INFO
    <set >
      <if test="record.functionId != null" >
        FUNCTION_ID = #{record.functionId,jdbcType=VARCHAR},
      </if>
      <if test="record.functionName != null" >
        FUNCTION_NAME = #{record.functionName,jdbcType=VARCHAR},
      </if>
      <if test="record.functionCode != null" >
        FUNCTION_CODE = #{record.functionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.menuUrl != null" >
        MENU_URL = #{record.menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null" >
        ORDER_NO = #{record.orderNo,jdbcType=DECIMAL},
      </if>
      <if test="record.menuLevel != null" >
        MENU_LEVEL = #{record.menuLevel,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_ADMIN_PERMISSION_INFO
    set FUNCTION_ID = #{record.functionId,jdbcType=VARCHAR},
      FUNCTION_NAME = #{record.functionName,jdbcType=VARCHAR},
      FUNCTION_CODE = #{record.functionCode,jdbcType=VARCHAR},
      MENU_URL = #{record.menuUrl,jdbcType=VARCHAR},
      ORDER_NO = #{record.orderNo,jdbcType=DECIMAL},
      MENU_LEVEL = #{record.menuLevel,jdbcType=DECIMAL},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.coco.admin.web.model.system.PermissionInfo" >
    update T_ADMIN_PERMISSION_INFO
    <set >
      <if test="functionName != null" >
        FUNCTION_NAME = #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="functionCode != null" >
        FUNCTION_CODE = #{functionCode,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo,jdbcType=DECIMAL},
      </if>
      <if test="menuLevel != null" >
        MENU_LEVEL = #{menuLevel,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where FUNCTION_ID = #{functionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.coco.admin.web.model.system.PermissionInfo" >
    update T_ADMIN_PERMISSION_INFO
    set FUNCTION_NAME = #{functionName,jdbcType=VARCHAR},
      FUNCTION_CODE = #{functionCode,jdbcType=VARCHAR},
      MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      ORDER_NO = #{orderNo,jdbcType=DECIMAL},
      MENU_LEVEL = #{menuLevel,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL}
    where FUNCTION_ID = #{functionId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectPermission" resultMap="BaseResultMap">
   		select P.* from T_ADMIN_ROLE_PERMISSION RP,T_ADMIN_PERMISSION_INFO P 
         where P.FUNCTION_ID = RP.FUNCTION_ID and P.MENU_LEVEL = #{menuLevel} and RP.ROLE_CODE in
         <foreach collection="roles" index="index" item="role" open="(" close=")" separator=",">
              #{role}
         </foreach>
         order by P.ORDER_NO asc
   </select>
   
   <select id="getMenuByParentId" resultMap="BaseResultMap">
   		select t.* from T_ADMIN_PERMISSION_INFO t,T_ADMIN_ROLE_PERMISSION t2 where t.FUNCTION_ID = t2.FUNCTION_ID and  t.PARENT_ID = #{functionId} and t2.ROLE_CODE in
         <foreach collection="roles" index="index" item="role" open="(" close=")" separator=",">
              #{role}
         </foreach>
         order by t.ORDER_NO asc
   </select>
  
  <select id="selectPermissionByUserId" resultMap="BaseResultMap">
   		select pi.* from T_ADMIN_USER_ROLE r inner join T_ADMIN_ROLE_INFO i on r.role_code = i.role_code inner join T_ADMIN_ROLE_PERMISSION rp on i.role_code = rp.role_code
 		inner join T_ADMIN_PERMISSION_INFO pi on rp.function_id = pi.function_id where r.user_id = #{userId}
   </select>
  
  
</mapper>